<div class="container" style="margin: 100px">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>Hola  {{socio}}!</span>
                <a href="/admin/login/logout"class="btn btn-danger">Cerrar Sesión<i class="fas fa-sing-out-alt"> </i></a>
            </p>
        </div>
    </div>
</div>